h1 {
    text-shadow: 0.1em 0.1em 0.2em black;
    font-size: 60px;
    color: blue;
    margin-top: 0px;

}

.header {
    display: flex;
    width: 1000px;
    justify-content: space-evenly;
}

.container {
    width: 1024px;
    height: 768px;
    background-color: lightyellow;
    margin: auto;
    border: 10px solid white;
}


.enter {
    margin-top: 10px;

}

.link3 {

    position: relative;
    display: inline-block;
}

.link {
    display: inline-block;
    width: 200px;
    height: 35px;
    background-image: url('./images/menu1.png');
    background-size: cover; /* 确保背景图覆盖整个元素 */
    position: relative;
    transition: background-image 0.3s ease; /* 平滑过渡效果 */
}

/* 鼠标悬停时更改背景图 */
.link:hover {
    background-image: url('./images/menu2.png'); /* 替换为新的背景图 */
}
.link3{
    display: inline-block;
    width: 200px;
    height: 35px;
    background-image: url('./images/menu1.png');
    background-size: cover; /* 确保背景图覆盖整个元素 */
    position: relative;
    transition: background-image 0.3s ease; /* 平滑过渡效果 */
}
.link3:hover {
    background-image: url('./images/menu2.png'); /* 替换为新的背景图 */
}
.overlay-text1 {
    position: absolute;
    top: 50%;
    /* 垂直居中 */
    left: 50%;
    /* 水平居中 */
    transform: translate(-60%, -60%);
    /* 使文字精確居中 */
    font-size: 16px;
    text-decoration: underline;
    font-weight: 500;
    color: #000000;
    font-family: "DFKai-SB";

}

.overlay-text {
    position: absolute;
    top: 50%;
    /* 垂直居中 */
    left: 50%;
    /* 水平居中 */
    transform: translate(-60%, -60%);
    /* 使文字精確居中 */
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    font-family: "DFKai-SB"
}



.link2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    float: left;


}

.produce {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
    font-weight: 500;
    color: #FF00FF;

}
.left-footer{
    font-family: "DFKai-SB";
    font-size: 16px;
    color:#000000;
    margin-top:370px;
    
}
main {
    float: right;
    width: calc(1024px - 215px);
    height: calc(768px - 65px - 20px);
    background-color: aquamarine;
}

.main-header {
    width: 100%;
    height: 29px;
    background-color: red;
    border: 1px solid black;
    border-bottom: 0;
}

.main-footer {
    width: 100%;
    height: calc(100% - 29px);
    background-color: cadetblue;
    border: 1px solid black;
}
